body {
    max-width: 900px;
    min-width: 600;
    margin: auto;
    background: rgb(95, 62, 14);
    color: rgb(224, 224, 224);
    font-family: "Merriweather", sans-serif;
}

p {
    padding-left: 30px;
}

table {
    margin-left: 80px;
}